.home {
  padding: 10px 20px;
}

.featured-anime-and-manga h1 {
  font-size: 1.8rem;
}
.featured-anime,
.featured-manga {
  position: relative;
  margin-bottom: 10px;
}

.featured-anime a,
.featured-manga a {
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
  background-color: rgba(109, 109, 109, 0.5);
  color: white;
  text-decoration: underline;
}

.featured-anime a:visited,
.featured-manga a:visited {
  color: white;
}

/* .featured-manga a {
  background-color: rgb(143, 143, 143, 0.3);
  color: white;
} */

.featured-anime img,
.featured-manga img {
  display: block;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 50 / 25;
}

.popular-anime-and-manga-container > h1 {
  font-size: 1.8rem;
}

.popular-anime-and-manga {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.popular-anime-and-manga .right-side {
}

.anime-manga-container.berserk img,
.anime-manga-container.death-note img,
.anime-manga-container.aot img {
  display: block;
  width: 100%;
  object-fit: cover;
  max-height: 300px;
  aspect-ratio: 55 / 25;
}

.anime-manga-container {
  position: relative;
}

.anime-manga-container .name {
  position: absolute;
  font-size: 1.1rem;
  bottom: 0;
  background-color: rgb(143, 143, 143, 0.3);
  color: rgb(255, 255, 255);
  padding: 4px 2px;
}

.anime-manga-container .name a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.anime-manga-container.berserk .name,
.anime-manga-container.berserk .name a {
  color: black;
}

@media screen and (width >= 768px) {
  .home {
    margin: 0 50px;
  }

  .popular-anime-and-manga {
    display: flex;
  }

  .anime-manga-container.berserk {
    flex: 5;
  }

  .popular-anime-and-manga {
    flex-direction: row;
    gap: 5px;
  }

  .popular-anime-and-manga .right-side {
    flex: 7;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .right-side .anime-manga-container {
    flex: 1;
  }
  .anime-manga-container.death-note img,
  .anime-manga-container.aot img,
  .anime-manga-container.berserk img {
    max-height: none;
    aspect-ratio: auto;
  }
}

@media screen and (width > 1200px) {
  .home {
    margin: 0 70px;
  }

  .anime-and-manga-showcase {
    display: flex;
    gap: 10px;
  }

  .featured-anime-and-manga {
    flex: 1;
    order: 2;
  }

  .popular-anime-and-manga-container {
    flex-basis: 62.8%;
    order: 1;
    border-right: 1px solid gray;
    padding-right: 10px;
  }
}
