.filterContainer {
}

.filterContainer.hide {
  display: none;
}

.categoryHeader {
  cursor: pointer;
  background-color: rgb(192, 192, 192);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  /* box-shadow: 0 0 0 1px black; */
  margin: 0 0 1px 1px;
  padding: 0 3px;
}

.category {
  font-weight: bold;
  padding: 5px 0 5px 0px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0 5px 10px;
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}

.options.hide {
  display: none;
}

.filterContainer .options label {
  display: flex;
  width: fit-content;
}

.unsavedChanges::after {
  content: '*';
  color: red;
}

.categoryHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filterResetButtons {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: rgb(187, 187, 187);
}

.filterButton,
.resetButton {
  flex: 1;
  padding: 10px 0;
}

.searchTextareaContainer {
  max-width: 100%;
  max-height: 80px;
  padding-right: 20px;
  overflow: hidden;
}
.searchTextarea {
  width: 100%;
  height: 80px;
  resize: horizontal;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
  outline: none;
}
