.shop {
  padding: 20px 20px 0 20px;
}

.back {
  display: flex;
  gap: 2px;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1rem;
}

.back i {
  font-size: 0.8rem;
}

.sortAndFilter {
  border-bottom: 1px solid black;
}

.buttonAndSelect {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.filter {
  flex: 1;
  padding: 10px 0;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
}

.sortByContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.sortByContainer p {
  width: max-content;
}

.sortAndFilter > form {
  padding-bottom: 10px;
}

.paginationInfo {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 10px 0;
}

.filterAndItems {
  display: flex;
  gap: 10px;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 10px;
  row-gap: 20px;
  flex: 1;
}

.itemInfoContainer {
  display: flex;
  justify-content: center;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 260px;
  margin: auto;
  flex: 1;
}

.itemInfo a {
  color: black;
  text-decoration: none;
}

.items div img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  margin: auto;
}

.itemTitle {
  display: -webkit-box;
  line-height: 1rem;
  height: 2.08rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
}

.starRatingContainer {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.starRatingContainer > div i {
  font-size: 1rem;
}

.ratingDecimal {
  font-size: 1rem;
}
.reviews {
  font-size: 1rem;
}

.priceAndQuantity {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

button.addToCart {
  color: black;
  background-color: orange;
  border: none;
  padding: 10px 20px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.paginationButtons {
}

.paginationButtons button {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}

.backToTop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  background-color: #191970;
  color: white;
  cursor: pointer;
}

.backToTop:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 769px) {
  .filterAndItems > form {
    max-width: 250px;
    min-width: 200px;
    flex: 1;
  }

  .topBlock {
    display: flex;
    justify-content: space-between;
  }

  .backContainer {
    flex: 3;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  .buttonAndSelect {
    gap: 30px;
    flex: 2;
  }

  .filter {
    padding: 10px 40px;
  }

  .items {
    flex: 3;
  }
}

@media screen and (min-width: 1000px) {
  .shop {
    padding: 10px 70px;
  }
  .items {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .itemInfo {
    max-width: 310px;
  }
}

@media screen and (min-width: 1200px) {
  .items {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
