.searchbar {
  position: relative;
  display: flex;
  height: 35px;
  flex: 1;
  width: 100%;
  background-color: black;
}

.searchInputContainer {
  position: relative;
  display: flex;
  border: none;
  outline: none;
  font-size: 1rem;
  flex: 1;
}

.searchInput {
  flex: 1;
  padding-left: 5px;
  padding-right: 25px;
  outline: none;
  width: 0;
}

.submitButton {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #00bfff;
}

.resetButtonContainer {
  position: absolute;
  height: 100%;
  right: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.resetButton {
  border: none;
  background-color: transparent;
}

.resetButton i:hover {
  cursor: pointer;
}
