header {
}

header .searchbar {
  width: 100%;
}

h1.store-name {
  font-size: 2rem;
  background-color: red;
  background-image: linear-gradient(red, yellow);
  padding: 0 5px;
  color: rgb(0, 0, 0);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  background-color: black;
}

nav .main-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .main-nav a {
  font-size: 1.2rem;
  color: white;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.shopping-cart {
  width: 30px;
  height: 20px;
  cursor: pointer;
}
