:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .body-no-scroll {
  height: 100vh;
  width: 100vw;
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
} */

/* .body-no-scroll {
  position: static;
  height: auto;
  overflow-y: hidden;
} */

.body-no-scroll {
  overflow: hidden;
  /* margin-right: 15px; */
}
